<div class="movie-tile">
    <div class="name">{{movie.title}}</div>
    <div class="row">
        <div class="col col-left">
            <div class="label">Directed By</div>
            <div>{{movie.director}}</div>
        </div>
        <div class="col col-right">
            <div class="label">Released</div>
            <div>{{movie.release_date}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-left">
            <div class="label">Producer</div>
            <div>{{movie.producer}}</div>
        </div>
    </div>
</div>