<div class="person-tile">
    <div class="name">{{person.name}}</div>
    <div class="row">
        <div class="col col-left">
            <div class="label">Height</div>
            <div>{{person.height}}</div>
        </div>
        <div class="col col-right">
            <div class="label">Hair</div>
            <div>{{person.hair_color}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-left">
            <div class="label">Eyes</div>
            <div>{{person.eye_color}}</div>
        </div>
        <div class="col col-right">
            <div class="label">Year Born</div>
            <div>{{person.birth_year}}</div>
        </div>
    </div>
</div>