.module-tile:hover {
    opacity: .8;
}

.module-tile {
    border-radius: 4px;
    border: 1px solid gray;
    color: #E8B437;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 10px 0;
    padding: 20px;
    transition-timing-function: ease;
    transition: opacity .1s;
    width: 200px;
}