.label {
    color: gray;
    font-size: 12px;
    margin-bottom: 2px;
}

.name {
    color: #5C76A0;
    font-size: 20px;
    margin-bottom: 4px;
}

.planet-tile:hover {
    opacity: .8;
}

.planet-tile {
    border-radius: 4px;
    box-shadow: 0px 0px 5px #E8B437;
    color: white;
    cursor: pointer;
    font-size: 13px;
    margin-bottom: 22px;
    margin-right: 22px;
    padding: 12px;
    transition-timing-function: ease;
    transition: opacity .1s;
}

.row {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 500px) {
    .planet-tile {
        width: 70vw;
    }
}

@media (min-width: 501px) {
    .planet-tile {
        width: 350px;
    }
}
