<div class="planet-tile">
    <div class="name">{{planet.name}}</div>
    <div class="row">
        <div class="col col-left">
            <div class="label">Population</div>
            <div>{{planet.population}}</div>
        </div>
        <div class="col col-right">
            <div class="label">Diameter</div>
            <div>{{planet.diameter}}</div>
        </div>
    </div>
    <div class="row">
        <div class="col col-left">
            <div class="label">Terrain</div>
            <div>{{planet.terrain}}</div>
        </div>
        <div class="col col-right">
            <div class="label">Gravity</div>
            <div>{{planet.gravity}}</div>
        </div>
    </div>
</div>